.con-carousel {
    width: 100% !important;
    height: 100% !important;
}


  .carousel-item {
  color: black !important;
}


.header {
text-align: center;

	    }

	    .img {
	      margin: 40px 0px 0px 0px;
	      border: 7px solid white;
	      border-radius: 20px;
	    }

			.li {
				text-align: center;
			}

			.fa {
				padding: 15px;
				font-size: 30px;
				width: 65px;
				text-align: center;
				text-decoration: none;
				border-radius: 50%;
			}

			.fa:hover {
				opacity: 0.7;
			}

			.fa-facebook {
				background: #3B5598;
				color: white;
			}

			.fa-twitter {
				background: #55ACEE;
				color: white;
			}

			.fa-instagram {
				background: #125688;
 				color: white;
			}

			.fa-youtube {
				background: #bb0000;
				color: white;
			}

			.fa-pinterest {
				background: #cb2027;
				color: white;
			}

			.fa-linkedin {
				background: #007bb5;
				color: white;
			}

			.fa-tumblr {
				background: #2c4762;
				color: white;
			}
